{
  "presets": ["next/babel"],
  "plugins": [
    "graphql-let/babel",
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@core": "./src/core",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}
